* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", serif;
}

body {
    background-color: #363636;
}

.title {
   border-radius: 20px;
    box-shadow: 5px 5px 20px navy;
    background: linear-gradient(to right, #f00, #b00, #a00, #900, #500);
    color: #aab;
    text-align: center;
    position: relative;
    top: 15vh;
    padding: 10px 5px;
    width: 90vw;
    margin: 0 auto;
    font-weight: bold;
}

.title h1 {
    margin-bottom: 10px;
    font-family: Georgia, serif;
}

#navbar {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 5px;
    width: 100vw;
    flex-wrap: wrap;
}

#navbar a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

#navbar h2 {
    color: #fff;
    position: relative;
    flex-basis: 100%;
    margin-bottom: 20px;
    margin-left: 75px;
}

.about {
    position: relative;
    top: 200px;
    border: 2px solid black;
    background-color: gray;
    padding: 5px;
    box-shadow: 0 0 20px black;
}

.about h2 {
    text-align: center;
    padding: 10px;
}

.contact {
    position: relative;
    top: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: darkgray;
    border-radius: 30px;
    width: 80vw;
    margin: auto;
    padding: 5px;
    box-shadow: 0 0 10px black;
}

.contact h2 {
    padding: 10px;
}